# Tutor-Student Matching Problem --- Bipartite Matching with One Sided Preferences

The exact problem statement is redacted for privacy reasons. However, the problem can be summarized as follows:
- We have a set of tutors, each with a preferred center and an upper bound on the number of students they can handle.
- A set of new students, and a set of existing students. All students are associated with a center. Existing students are associated with a tutor.
- Some students have constraints on which tutors they can be assigned to based on their tutoring needs.

Assumptions:
- For all students, changing of centers is not allowed.
- For existing students, changing of tutors is not allowed. Exceptions are granted for students that are matched wrongly based on tutoring needs.
- A feasible assignment exists, that is, the number of students does not exceed the total capacity of tutors, for both normal and extensive teaching needs.
- Tutors and students do not have preferences over each other, except for the tutoring needs constraints.
- Existing students that are inactive, do not affect the decision making.
- Tutors can teach at multiple centers.

The problem can be modeled as a bipartite graph where new students are to be matched to tutors under certain objectives and constraints. The objectives and constraints will be described in detail in later sections.

## 1. Prepare imports and data

In [138]:
import pandas as pd
import numpy as np
from docplex.mp.model import Model
import os
from IPython.display import display

# set wd
notebook_path = os.path.dirname(os.path.abspath("__file__"))
os.chdir(notebook_path)
# load data
myfile = 'Interview small data.xlsx'
new_students = pd.read_excel(open(myfile, 'rb'), sheet_name='New Students')
existing_students = pd.read_excel(open(myfile, 'rb'), sheet_name='Existing Students')
tutors = pd.read_excel(open(myfile, 'rb'), sheet_name='Tutor Information')

## 2. Data validation

In [139]:
# view data
print("Data preview:")
print("New students:")
display(new_students.head())
print("Existing students:")
display(existing_students.head())
print("Tutors:")
display(tutors.head())

# comments
print("Note that new students are assigned smaller IDs than existing students.\nThis means that existing students will always have their IDs changed/incremented every time new students are added.")

# misc
# print("New students columns:", new_students.columns.tolist())
# print("Existing students columns:", existing_students.columns.tolist())
# print("Tutors columns:", tutors.columns.tolist())
# New students columns: ['studentId', 'tutoringNeed', 'tuitionCentre']
# Existing students columns: ['tutorId', 'studentId', 'tutoringNeed', 'tuitionCentre', 'active']
# Tutors columns: ['tutorId', 'tutoringSkills', 'preferredCentre1', 'preferredCentre2', 'maxOverallCapacity']

Data preview:
New students:

  studentId tutoringNeed tuitionCentre
0     S0001       Normal          East
1     S0002       Normal          West
2     S0003       Normal       Central
3     S0004       Normal          East
4     S0005       Normal       Central

Existing students:

  tutorId studentId tutoringNeed tuitionCentre  active
0    A001     S0021       Normal          East   False
1    A001     S0022       Normal         North   False
2    A001     S0023    Extensive          East   False
3    A001     S0024    Extensive          East   False
4    A001     S0025       Normal         North   False

Tutors:

  tutorId tutoringSkills preferredCentre1 preferredCentre2  maxOverallCapacity
0    A001      Extensive             East            North                   8
1    A002         Normal            North             East                   5
2    A003         Normal             West            North                   5
3    A004         Normal            North             East                   3
4    A005         Normal            North          Central                   6

Note that new students are assigned smaller IDs than existing students.
This means that existing students will always have their IDs changed/incremented every time new students are added.

### 2.1. Quick validatation

In [140]:
# can remove existing students who are inactive
print("Inactive existing students will be removed.\n")
existing_students = existing_students[existing_students['active']==1]

# check missing data
print("Missing data check:")
print("new students: ", new_students.isnull().sum().sum())
print("existing students: ", existing_students.isnull().sum().sum())
print("tutors: ", tutors.isnull().sum().sum())
print("\n")
# check duplicates
print("Duplicates check:")
print("new students:", new_students.duplicated().sum())
print("existing students:", existing_students.duplicated().sum())
print("tutors:", tutors.duplicated().sum())
print("\n")

# check that the tutor of existing students exists in tutors
print("Existing students' tutor check:")
tutor_ids = set(tutors['tutorId'])
existing_student_tutor_ids = set(existing_students['tutorId'])
if existing_student_tutor_ids.issubset(tutor_ids):
    print("All existing students have valid tutors.")
else:
    print("Warning: Some existing students have tutors not listed in the tutors data.")
print("\n")

# check sum of max capacity of tutors >= number of new students + existing active students
print("Capacity check:")
numtut = tutors.shape[0]
tutcap = tutors['maxOverallCapacity'].sum()
excap = existing_students.shape[0]
newcap = new_students.shape[0]
print("number of tutors:", numtut)
print("tutors capacity:", tutcap)
print("existing students count:", excap)
print("new students count:", newcap)
if tutcap >= excap + newcap:
    print("Capacity is sufficient.")
else:
    print("No feasible solution possible: insufficient capacity. Please check data.")
print("\n")

# tutor capacity check
print("Tutor individual capacity check (based on existing students):")
tutor_capacity = tutors.set_index('tutorId')['maxOverallCapacity'].to_dict()
existing_student_count = existing_students.groupby('tutorId').size().to_dict()
ok = True
for tutor, count in existing_student_count.items():
    if count > tutor_capacity[tutor]:
        print(f"Warning: Tutor {tutor} is over capacity with {count} existing students.")
        ok = False
if ok:
    print("All tutors (individually) are within their capacity limits, based on existing students.")

Inactive existing students will be removed.

Missing data check:
new students:  0
existing students:  0
tutors:  0


Duplicates check:
new students: 0
existing students: 0
tutors: 0


Existing students' tutor check:
All existing students have valid tutors.


Capacity check:
number of tutors: 10
tutors capacity: 57
existing students count: 12
new students count: 20
Capacity is sufficient.


Tutor individual capacity check (based on existing students):
All tutors (individually) are within their capacity limits, based on existing students.

### 2.2. Further validation based on tutoring needs

In [141]:
# check that existing students are matched to a tutor that meets their tutoring needs
existing_students_needs = existing_students.merge(tutors[['tutorId', 'tutoringSkills']], on='tutorId', how='left')
mismatch = existing_students_needs[~existing_students_needs.apply(lambda row: row['tutoringNeed'] == row['tutoringSkills'], axis=1)]
print("Existing students' tutoring needs check:")
print(f"Number of existing students who require extensive tutoring but are matched with a normal tutoringSkills tutor: {mismatch.shape[0]}")
print(f"{mismatch.shape[0]} existing students will be treated as new students for the purpose of matching.")
# remove these students from existing students to new students
existing_students = existing_students[existing_students['studentId'].isin(mismatch['studentId'])==False]
new_students = pd.concat([new_students, mismatch.drop(columns=['active', 'tutorId', 'tutoringSkills'])], ignore_index=True)
print("\n")

# check that no "extensive" tutor is overloaded
print("Extensive tutor capacity check (based on existing and new students):")
ok = True
# individual check
extensive_tutors = tutors[tutors['tutoringSkills'] == 'Extensive']
for tutor in extensive_tutors['tutorId']:
    assigned_students = existing_students[existing_students['tutorId'] == tutor]
    if assigned_students.shape[0] > extensive_tutors[extensive_tutors['tutorId'] == tutor]['maxOverallCapacity'].values[0]:
        print(f"Warning: Tutor {tutor} is overloaded with {assigned_students.shape[0]} students.")
        ok = False
# collective check
extensive_tutor_capacity = extensive_tutors['maxOverallCapacity'].sum()
existing_extensive_students = existing_students[existing_students['tutoringNeed'] == 'Extensive'].shape[0]
new_extensive_students = new_students[new_students['tutoringNeed'] == 'Extensive'].shape[0]
if extensive_tutor_capacity < existing_extensive_students + new_extensive_students:
    print("No feasible solution possible: insufficient extensive tutor capacity. Please check data.")
    ok = False
if ok:
    print("All extensive tutors (individually and collectively) are within their capacity limits, based on existing and new students.")

Existing students' tutoring needs check:
Number of existing students who require extensive tutoring but are matched with a normal tutoringSkills tutor: 2
2 existing students will be treated as new students for the purpose of matching.


Extensive tutor capacity check (based on existing and new students):
All extensive tutors (individually and collectively) are within their capacity limits, based on existing and new students.

## 3. Mathematical formulation

We define the following mathematical formulation for the problem.

Parameters:
- Let $E$ be the set of existing students.
- Let $N$ be the set of new students.
- Let $T$ be the set of tutors.
- Let $T_{ext}$ be the set of tutors that can handle extensive tutoring needs.
- Let $N_{ext}$ be the set of new students that require extensive tutoring needs.
- Let $cap_t$ be the capacity of tutor $t$.
- Let $y_{te}$ be a constant that is 1 if tutor $t$ is assigned to existing student $e$, and 0 otherwise.
- Let $c_{tn}$ be the coefficient for tutor $t$ to be assigned to new student $n$, based on the student's center and tutor's preferred center. We set $c_{tn} = 2$ if it is the tutor's first choice of center, $c_{tn} = 1$ if it is the tutor's second choice of center, and $c_{tn} = 0$ otherwise.

Variables:
- Let $x_{tn}$ be a binary variable that is 1 if tutor $t$ is assigned to new student $n$, and 0 otherwise.

Constraints:
- Each new student is assigned to exactly one tutor:
   $$\sum_{t \in T} x_{tn} = 1 \quad \forall n \in N$$
- Each new student with extensive tutoring needs is assigned to a tutor that can handle extensive tutoring needs:
   $$\sum_{t \in T_{ext}} x_{tn} = 1 \quad \forall n \in N_{ext}$$
- A tutor cannot exceed their maximum overall capacity:
   $$\sum_{n \in N} x_{tn} + \sum_{e \in E} y_{te} \leq cap_t \quad \forall t \in T$$

### 3.1. Task (a)

Problem statement:
Minimize total number of tutors assigned while maximizing tutor’s preference on tuition centre.

Objectives:
- Minimize total number of tutors assigned to at least one new student or existing student:
    $$\min \sum_{t \in T} z_t, $$
    where $z_t$ is a binary variable that is 1 if tutor $t$ is assigned to at least one new student or existing student, and 0 otherwise.
- Maximize tutor's preference on tuition centre (for new students):
    $$\max \sum_{t \in T} \sum_{n \in N} c_{tn} x_{tn}.$$
Objective function:
- Combine the two objectives into a single objective function:
    $$\min \sum_{t \in T} z_t - \alpha \sum_{t \in T} \sum_{n \in N} c_{tn} x_{tn},$$
    where $\alpha$ is a weighting factor to balance the two objectives. Range of values for first objective is $[0, |T|]$, while range of values for second objective is $[0, 2|S|]$. We set $\alpha = \frac{|T|}{2|S|}$ to balance the two objectives. Here, we set $\alpha = \frac{10}{64} = 0.15625$.

Additional constraints:
- Link $z_t$ with $x_{tn}$ and $y_{te}$:
   $$M z_t \geq \sum_{n \in N} x_{tn} + \sum_{e \in E} y_{te} \quad \forall t \in T,$$
   where $M$ is a sufficiently large constant, which we set to a value greater the sum of all tutor capacities (57). Here, we set $M = 100$.

#### 3.1. Code for task (a)

##### 3.1.1. Prepare data for model

In [144]:
# create copy of tables we will need, and add column of index
E = existing_students.copy().reset_index(drop=True).rename_axis('e').reset_index()
N = new_students.copy().reset_index(drop=True).rename_axis('n').reset_index()
T = tutors.copy().reset_index(drop=True).rename_axis('t').reset_index()

# create minitable of centers and index
ctrs = pd.DataFrame(pd.concat([new_students['tuitionCentre'], existing_students['tuitionCentre']]).unique(), columns=['tuitionCentre'])
ctrs = ctrs.reset_index().rename(columns={'index': 'c'})

# ctn: coefficient for tutor t to be assigned to new student n
# also add col to mark a compatible student and tutor where both are extensive
ctn = pd.merge(pd.merge(T.assign(key=1), N.assign(key=1), on='key').drop('key', axis=1),
               ctrs.assign(key=1), on='tuitionCentre', how='left')
ctn['c_tn'] = np.where(ctn['preferredCentre1'] == ctn['tuitionCentre'], 2,
                       np.where(ctn['preferredCentre2'] == ctn['tuitionCentre'], 1, 0))
ctn['both_ext'] = np.where((ctn['tutoringSkills'] == 'Extensive') & (ctn['tutoringNeed'] == 'Extensive'), 1, 0)
ctn = ctn[['t', 'n', 'c_tn', 'both_ext']]
both_ext_dict = {(row['t'], row['n']): 1 for _, row in ctn.iterrows() if row['both_ext'] == 1}
c_tn_dict = ctn.set_index(["t", "n"])["c_tn"].to_dict()

# check some values
print("ctn preview:")
print("Both extensive:")
print(ctn[ctn['both_ext'] == 1].head())
print("\n")
print("c_tn > 0 (student at center that tutor likes):")
print(ctn[ctn['c_tn'] > 0].head())

ctn preview:
Both extensive:
     t   n  c_tn  both_ext
5    0   5     1         1
10   0  10     0         1
20   0  20     0         1
21   0  21     0         1
115  5   5     0         1


c_tn > 0 (student at center that tutor likes):
   t  n  c_tn  both_ext
0  0  0     2         0
3  0  3     2         0
5  0  5     1         1
6  0  6     2         0
8  0  8     1         0

#### 3.1.2. Build and solve model

Constants/variables:

In [125]:
model_a = Model(name="model_a")
# constants
ALPHA = 0.15625
M = 100
# variables
x = model_a.binary_var_dict(
    [(row["t"], row["n"]) for _, row in ctn.iterrows()], name="x"
)
y = {(row["t"], row["e"]): 1 for _, row in pd.merge(T, E, on="tutorId").iterrows()}
z = model_a.binary_var_dict([(row["t"]) for _, row in T.iterrows()], name="z")

Constraints:

In [126]:
# each new student is assigned to exactly one tutor
for n in N["n"]:
    model_a.add_constraint(
        model_a.sum(x[t, n] for t in T["t"]) == 1, ctname=f"assign_new_student_{n}"
    )

# each new student that requires extensive tutoring is assigned to an extensive tutor
for n in N[N["tutoringNeed"] == "Extensive"]["n"]:
    model_a.add_constraint(
        model_a.sum(x[t, n] * both_ext_dict.get((t, n), 0) for t in T["t"]) == 1,
        ctname=f"assign_extensive_new_student_{n}",
    )

# each tutor does not exceed their capacity
for _, row in T.iterrows():
    t = row["t"]
    cap_t = row["maxOverallCapacity"]
    expr_n = (
        model_a.sum(x[t, n] for n in N["n"] if (t, n) in x) or 0
    )  # new students assigned
    expr_e = sum(y.get((t, e), 0) for e in E["e"])  # fixed existing students
    model_a.add_constraint(expr_n + expr_e <= cap_t, ctname=f"tutor_capacity_{t}")

# additional constraint: link z_t with x_tn and y_te
for _, row in T.iterrows():
    t = row["t"]
    expr_n = (
        model_a.sum(x[t, n] for n in N["n"] if (t, n) in x) or 0
    )  # new students assigned
    expr_e = sum(y.get((t, e), 0) for e in E["e"])  # fixed existing students
    model_a.add_constraint(M * z[t] >= expr_n + expr_e, ctname=f"link_z_{t}")

Objective function and model solve:

In [137]:
# $$\min \sum_{t \in T} z_t - \alpha \sum_{t \in T} \sum_{n \in N} c_{tn} x_{tn},$$
model_a.minimize(
    model_a.sum(z[t] for t in T["t"])
    - ALPHA * model_a.sum(x[t, n] * c_tn_dict.get((t, n), 0) for t, n in x)
)

# print(model_a.objective_expr) # always good to check
# seems correct. i see that -0.312x_0_0 means tutor 0 assigned to new student 0, who is at tutor 0's preferredCentre1 since 2*0.15625 = 0.3125
# and there is no x_0_1 since student 1 wants west, which is neither of tutor 0's preferred centres (coeff = 0)

# solve
solution = model_a.solve()
if solution:
    print("Solution status:", model_a.get_solve_status())
    # print("Objective value:", model_a.objective_value) # doesn't explain much
    # extract solution
    assigned = []
    for (t, n), var in x.items():
        if var.solution_value == 1:
            assigned.append((t, n))
    assigned_df = pd.DataFrame(assigned, columns=["t", "n"])
    assigned_df = assigned_df.merge(T[["tutorId", "t"]], on="t", how="left").merge(
        N[["studentId", "n"]], on="n", how="left"
    )
    print("Assigned tutor-student pairs:")
    display(assigned_df)
else:
    print("No solution found.")

Solution status: JobSolveStatus.OPTIMAL_SOLUTION
Assigned tutor-student pairs:

    t   n tutorId studentId
0   2   1    A003     S0002
1   2  15    A003     S0016
2   4   8    A005     S0009
3   4  19    A005     S0020
4   6   0    A007     S0001
5   6   3    A007     S0004
6   6   6    A007     S0007
7   6  14    A007     S0015
8   6  16    A007     S0017
9   7   2    A008     S0003
10  7   4    A008     S0005
11  7   7    A008     S0008
12  8   5    A009     S0006
13  8  10    A009     S0011
14  8  20    A009     S0086
15  8  21    A009     S0093
16  9   9    A010     S0010
17  9  11    A010     S0012
18  9  12    A010     S0013
19  9  13    A010     S0014
20  9  17    A010     S0018
21  9  18    A010     S0019

Analysis of results:

In [135]:
# how many students assigned to each tutor, including existing students
tutor_assignments = assigned_df.groupby('tutorId').size().reset_index(name='num_assigned_students')
tutor_assignments = tutor_assignments.merge(tutors[['tutorId', 'maxOverallCapacity']], on='tutorId', how='left')
existing_df = existing_students.groupby('tutorId').size().reset_index(name='num_existing_students')
tutor_summary = pd.merge(tutor_assignments, existing_df, on='tutorId', how='outer').fillna(0)
tutor_summary['total_students'] = tutor_summary['num_assigned_students'] + tutor_summary['num_existing_students']
tutor_summary['total_students'] = tutor_summary['total_students'].astype(int) # convert to int
tutor_summary = tutor_summary[['tutorId', 'total_students', 'maxOverallCapacity']]
display(tutor_summary)
print(f"We have created assignments for {tutor_summary.shape[0]} out of {tutors.shape[0]} tutors.\n")

# add 3 columns to count how many pref1, pref2, non-pref students assigned to each tutor
assigned_df_2 = assigned_df.merge(ctn[['t', 'n', 'c_tn']], on=['t', 'n'], how='left').copy()
pref1_count = assigned_df_2[assigned_df_2['c_tn'] == 2].groupby('tutorId').size().reset_index(name='num_pref1_new')
pref2_count = assigned_df_2[assigned_df_2['c_tn'] == 1].groupby('tutorId').size().reset_index(name='num_pref2_new')
nonpref_count = assigned_df_2[assigned_df_2['c_tn'] == 0].groupby('tutorId').size().reset_index(name='num_nonpref_new')
tutor_summary = tutor_summary.merge(pref1_count, on='tutorId', how='left').merge(pref2_count, on='tutorId', how='left').merge(nonpref_count, on='tutorId', how='left').fillna(0)
tutor_summary['num_pref1_new'] = tutor_summary['num_pref1_new'].astype(int)
tutor_summary['num_pref2_new'] = tutor_summary['num_pref2_new'].astype(int)
tutor_summary['num_nonpref_new'] = tutor_summary['num_nonpref_new'].astype(int)
tutor_summary = tutor_summary[['tutorId', 'num_pref1_new', 'num_pref2_new', 'num_nonpref_new']]
print("Number of new students assigned based on tutor's preference:")
display(tutor_summary)

  tutorId  total_students  maxOverallCapacity
0    A003               3                   5
1    A005               6                   6
2    A007               8                   8
3    A008               3                   5
4    A009               4                   4
5    A010               8                   8

We have created assignments for 6 out of 10 tutors.

Number of new students assigned based on tutor's preference:

  tutorId  num_pref1_new  num_pref2_new  num_nonpref_new
0    A003              1              1                0
1    A005              2              0                0
2    A007              4              1                0
3    A008              3              0                0
4    A009              3              1                0
5    A010              5              1                0

### 3.2. Task (b)

Problem statement: Balance tutor’s workload while maximizing tutor’s preference on the tuition centre. 

Objectives:
- Minimize the maximum number of students assigned to any tutor:
    $$\min \max_{t \in T} \left( \sum_{n \in N} x_{tn} + \sum_{e \in E} y_{te} \right) $$
- Maximize tutor's preference on tuition centre (for new students):
    $$\max \sum_{t \in T} \sum_{n \in N} c_{tn} x_{tn}.$$
Objective function:
- Combine the two objectives into a single objective function:
    $$\min \max_{t \in T} \left( \sum_{n \in N} x_{tn} + \sum_{e in E} y_{te} \right) - \beta \sum_{t \in T} \sum_{n \in N} c_{tn} x_{tn},$$
    where $\beta$ is a weighting factor to balance the two objectives. Range of values for first objective is $[0, \max_{t \in T} cap_t]$, while range of values for second objective is $[0, 2|S|]$. We set $\beta = \frac{\max_{t \in T} cap_t}{2|S|}$ to balance the two objectives. Here, we set $\beta = \frac{8}{64} = 0.125$.

#### 3.2. Code for task (b)

##### 3.2.1. Prepare data for model (similar to task (a))

from (a) we had E, N, T, ctrs, ctn, both_ext_dict, c_tn_dict already defined
quick recap what these are:
- E: set of existing students
- N: set of new students
- T: set of tutors
- ctrs: dictionary mapping student to their center
- ctn: dictionary mapping (tutor, student) pair to coefficient based on tutor's preferred centers
- both_ext_dict: dictionary mapping student to whether they require extensive tutoring needs
- c_tn_dict: dictionary mapping (tutor, student) pair to whether tutor can handle student's extensive tutoring needs

In [ ]:
# from (a) we had E, N, T, ctrs, ctn, both_ext_dict, c_tn_dict already defined